* {
    box-sizing: border-box;
}
table{
    text-align: left;
    position: relative;
    border-collapse: collapse;
    background: #f6f6f6;
    width: 100%;
}
td, th {
    border: 1px solid #999;
    padding: 20px;
}
th {
    background: #5a5dff;
    color: white;
    border-radius: 0;
    position: sticky;
    top: 0;
    padding: 10px;
}
.top {
    background: #322a8d;
}
tbody > tr:hover {
    background-color: #95a5f7;
  }
caption {
    background: #eaebff;
    border: 1px solid #b9b9cf;
    padding: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #5b5dff;
}
.teams {
    background:#eaebff;
    font-weight:bold;
}